:root {
	--secondaryColor: #ae8625;
}

body, html {
	height: 100%;
}

.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/IMG_6764.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 60%;

}

.slideshow-arrow-right, .slideshow-arrow-left:hover {
	cursor: pointer;
}

.footer {
	background-color: var(--secondaryColor);
}