:root {
	--secondaryColor: #ae8625;
}

body, html {
	height: 100%;
}

.hero {
	background-image: url('assets/images/cannabis_jars.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.slideshow-arrow-right, .slideshow-arrow-left:hover {
	cursor: pointer;
}

.footer {
	background-color: var(--secondaryColor);
}