@font-face {
  font-family: "moonRising";
  src: url("assets/fonts/Moonrising.ttf");
}
:root {
  --black: #000;
  --white: #fff;
  --gold: #ae8625;
}

* {
  font-family: "moonRising";
}


p {
  font-family: Arial, Helvetica, sans-serif;
}

.gold {
  color: var(--gold);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

h1 {
  display: inline;
}

/* .nav-bar {
  transition: max-height 0.1s ease-out;
} */
.nav-bar a:hover {
  color: var(--gold);
}


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


.index-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/IMG_6768.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

.about-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/images/IMG_6872.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
}

.gold {
  color: var(--gold);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.top-header-default {
  color: var(--gold);
}

.top-header-white {
  color: var(--white);
}

.top-header-middle-default {
  color: var(--black);
}

.top-header-middle-gold {
  color: var(--gold);
}

.nav-link-white {
  color: var(--white);
}
.nav-link-default {
  color: var(--white);
}

.cart {
  font-size: 24px;
  /* color: var(--white); */
}


.card-container {
  height: 700px;
  width: 1680px;
  overflow: hidden;
}

.slideshow-arrow-right, .slideshow-arrow-left:hover {
  cursor: pointer;
}

.footer {
  background-color: var(--white);
}

.footer-link {
  color: var(--white);
}
.footer-link-active:hover {
  color: var(--gold);
}
.footer-link-active {
  color: var(--gold);
}

.social-logo {
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .card-container {
    height: auto;
  }
  body, html {
    height: 67%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .index-hero {
    background-position: 60% 30%
  }
  .about-hero {
    background-size: cover;
    background-position: 40% 0%;
  }
  
  .nav-bar {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 'max-height' 0.1s ease-out;
  }
  .nav-link-default {
  }
  .superlitive-logo {
    width: 60px;
  }

  .social-logo {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .nav-bar-container-default {
    /* flex-direction: column; */
  }
}
